body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 80vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(223, 55, 4);
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}

/*--------------------------*/